body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #F2F2F2 ;
}

ol, ul {
  padding-left: 30px;
}

/* Sema Navigatie */
.topnav {
  background-color: #004682;
  overflow: hidden;
  margin-left: 30px ;
  margin-bottom: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #20bb28;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #20bb28;
  color: white;
}



/* Sema App */
.app_header {
  margin-left:  30px;
  font-size: 60px ;
}
.app_maak_dossier {
  margin-left:  30px;
  margin-bottom: 10px;
  font-size: 35px ;
  color: #F2F2F2;
  font-family: Arial;
  display: inline-block;
}
.app_verwijder_dossier{
  margin-left:  30px;
  margin-bottom: 10px;
  font-size: 35px ;
  color: #F2F2F2;
  font-family: Arial;
  display: inline-block;
}
.app_beschikbare_dossiers{
  margin-left:  30px;
  margin-bottom: 10px;
  font-size: 35px ;
  color: #F2F2F2;
  font-family: Arial;
}
.app_dossierinfo{
  margin-left:  30px;
  margin-bottom: 10px;
  font-size: 15px ;
  font-family: Arial;
}



/* Sema DossierLijst */
.dossierlijst {
  border: 0px solid black  ;
}
.dossierlijst_header {
  font-size: 35px ;
  border: 0px solid black ;
  background-color: #004682 ;
  color: #F2F2F2;
  font-family: Arial;
}
.dossierlijst_inhoud {
  border: 0px solid black  ;
}
.dossierlijst_inhoud_listbutton {
  color: black;
  border: 0px solid black  ;
  background-color: #F2F2F2 ;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  size: 2px;
  cursor: pointer;
  margin: 1px;
}

.dossierlijst_inhoud_listbutton:hover 
{
  color: white;
  background-color: #2533ac ;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  size: 2px;
  cursor: pointer;
  margin: 1px;
} 

a.dossierlijst_inhoud_listbutton {
  color: black;
  border: 1px solid black  ;
  background-color: #F2F2F2 ;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  size: 2px;
  cursor: pointer;
  margin: 1px;
}




/* Sema Dossier Info */
.dossierinfo{
  border: 0.5px solid black  ;
  background-color: #c2cfdf ;
}
.dossierinfo_header{
  text-align: left;
}
.dossierinfo_body{
  margin: 10px;
}
.dossierinfo_label{
  margin: 10px;
}
.dossierinfo_uri{
  margin: 10px;
}
.dossierinfo_refetchbutton{
 display: inline; 
}


/* Sema Verwijder Dossier */
.verwijder_dossier {
  display: inline-block;
}


/* Sema Tabel */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

